<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carteirasimples">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewValues"
            android:label="@string/wallet_view_title" />
        <activity
            android:name=".Overview"
            android:label="@string/overview_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.example.carteirasimples.walletvaluesdatabase"
            android:name=".WalletValuesProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:label="WalletValuesProvider"
            android:enabled="true"

            android:permission="com.example.carteirasimples.walletvaluesdatabase.permission.READ_WRITE">
        </provider>
    </application>

</manifest>